.record-item {
    width: 200px;
    height: 295px;
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
}
img{
    width:180px;    
}
.artist-title{
    font-weight: bold;
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
button{
    width: 100px;
}

