@font-face{
    font-family: Aero;
    src: url('../assets/Aero.ttf')
}
.product-header{
    display: flex;
    justify-content:space-evenly;
    letter-spacing: 10px;
    font-size: 3.5rem;
    border-bottom: 3px solid black;
    height: 120px;
}
.back{
    margin: 8px;
    font-size: 1.3rem;
    width: min-content;
    font-family: Aero;
    color:rgb(199, 238, 84);
    text-decoration: none;
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
    background-color: black;
}
.cart-img{
    height: 40px;
    width: 40px;
    text-align: right;
    /* margin-left: 100px; */
}
.main-section{
    width: 70%;
}
.record-item {
    margin: 10px;
    width: min-content;
    height: 315px;
    padding: 3px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    word-wrap: wrap;
}
img{
    width:180px;    
}
.artist-title{
    font-weight: bold;
}

ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
button{
    width: 100px;
}

