@font-face{
    font-family: Aero;
    src: url('../assets/Aero.ttf')
}
.enter-site-button{  font-size: 1.3rem;
    font-family: Aero;
    color:rgb(199, 238, 84);
    text-decoration: none;
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
    background-color: black;
}
.main{
    background-image: url('../assets/home-page-image.png');
    height: 800px;
    width: 600px;

}
.title{
    font-size: 3.5rem;
    font-family: Aero;
    writing-mode:vertical-lr ;
    transform: rotate(180deg);
}
.sidebar{
    position:fixed;
    right: 10px;
    top: 25%;
}
.information{
    font-size: 1.5rem;
    width: 60%;
    font-family: monospace;
    line-height: 2rem;
}
